<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NewOnlineShop.Configuration.NewOnlineShopConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NewOnlineShop.Configuration.NewOnlineShopConfig>
            <setting name="Browser" serializeAs="String">
                <value>chrome</value>
            </setting>
            <setting name="BaseURL" serializeAs="String">
                <value>https://www.opencart.com/</value>
            </setting>
        </NewOnlineShop.Configuration.NewOnlineShopConfig>
    </applicationSettings>
</configuration>